<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @lunch.date %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @lunch.restaurant %>
</p>

<p>
  <b>Food:</b>
  <%= @lunch.food %>
</p>


<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
